@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;
    --white: #fff;

    --font-family: 'Nunito', sans-serif;

    --default-layout-header-height: 88px;
    --default-layout-width: 1440px;

    --btn-color: #4f9bbf;
    // --swiper-navigation-color: blue;
    // --swiper-theme-color: red;
    --disabled-color: #9c9c9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
}

.swal2-popup {
    font-size: 1.6rem !important;
    font-weight: 700;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

li {
    list-style-type: none;
}
