.container{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    width: var(--default-layout-width);
}

.inner{
    display: flex;
    padding-top: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    
}

.content{
    width: calc(100% - 280px);
    overflow-x: hidden;
}

