.separate{
    margin-bottom: 10px;
    padding-top: 5px;
}

.top_branch_slide{
    width: 1000px;
    height: 450px;
    background-color: #fff;
    padding: 20px;
}

.wrap_swiper{
    display: flex;
    justify-content: center;
}

