.image-number {
    position: relative;
}

.image_number_orange {
    position: absolute;
    background-color: #2a9dcc;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    min-width: 20px;
    padding: 2px 0;
    right: 0px;
    top: 0px;
    text-align: center;
}

td{
    img{
        width: 80px;
        height: 80px;
    }
}
